body {
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

img {
  height: 225px;
  width: 225px;
}

.nav {
 background-color: cadetblue;
 color: white 
}

.nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.nav ul li {
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;
}

.nav ul li:hover{
  background: rgba(0, 0, 0, 0.5)
}

.image-area{
  background-image: url("photo.png");
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.centered-container{
  max-width:1020px;
  margin: 0px auto;
  padding: 0px 16px
}

.image-text{
  text-align: center;
  color: white;
  background: black;
  font-size: 1.5rem;
  max-width:1020px;
  margin: 0px auto 0px auto;
  padding: 0px 16px
}

.intro-text {
  max-width: 1020px;
  margin: 0px auto 0px auto;
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px
}

.single-service {
  text-align: center;
  margin-bottom: 32px;
}

.single-service p{
  padding: 0px 16px
}